.checkbox {
    display: inline;
    user-select: none;
    position: relative;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: '';
    margin-right: 12px;
    display: inline-block;
    vertical-align: text-top;
    width: 22px;
    height: 22px;
    background-image: url('../../resources/images/checkbox-unchecked.png');
}

.styled-checkbox:checked + label:before {
    background-image: url('../../resources/images/checkbox-checked.png');
}